#particles-js{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

header{
    position: absolute;
    width: 100%;
    padding: 10px;
    top: 0;
    left: 0;
    display: flex;
    align-items: start;
    justify-content: space-between;
    align-items: start;

    & .logo{
        width: 200px;
        height: 120px;

        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    & .language-container{
        margin: 10px;
        width: 200px;
        position: relative;

        & select{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: transparent;
            padding: 15px;
            border-radius: 3px;
            width: 100%;
            border-radius: 10px;
            text-align: center;
            font-size: 16px;
            line-height: 1.5;


            
            & option{
                background-color: #000;
                padding: 0;
                border: none;
            }
        }
    }
}

nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 10px 0;
    

    & a {
        font-size: 20px !important;
        font-weight: 300;
        position: relative;
        transition: 0.3s ease;

        &:hover{
            color: #00abf0;
        }
    }
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 20px;
    
    & h1{
        font-size: 60px;
        font-weight: 800;
    }

    & .content-text{
        display: flex;
        align-items: center;

        & p{
            font-size: 40px;
            color: #00abf0;
            font-weight: bold;
            margin-right: 0.5ch;
        }

        & .dev-text{
            white-space: nowrap;
            overflow: hidden;
            width: 10ch;
            animation: devtext steps(50) 2s infinite, devtextinverse 4s infinite;
        }
    }
}

.home-sci{
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    gap: 20px;
    transform: translateX(-50%);
    font-size: 30px;
    padding: 10px;

    & i{
        transition: 0.3s ease;
    }

    & i:hover{
        transform: translateY(-5px);
        transition: ease-in 0.3s;
    }
}

.home-sci i.bxl-linkedin-square:hover{
    color: #1d86ef;
}

.home-sci i.bxl-github:hover{
    color: #fff;
}

.home-sci i.bxl-instagram:hover{
    color: #fc027d;
}

nav a::after{
    content: '';
    position: absolute;
    background-color: black;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    transition: 0.3s ease;
}

nav a::before{
    content: '';
    position: absolute;
    background-color: black;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 2px;
    transition: 0.3s ease;
}

nav a:hover::before{
    width: 100%;
    background-color: #00abf0;
    transition: 0.3s ease;
}

nav a:hover::after{
    width: 0%;
}

.language-container::before{
    content: '\25BE';
    font-size: 30px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #fff;
}

.language-container::after{
    content: '\1F310';
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

@keyframes devtext {
    
    0%{
        width: 0;
    }
}

@keyframes devtextinverse {
    
    100%{
        width: 10ch;
    }
}























