* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}



:root {
    --brand-primary: #00abf0;
    --background-color: #0d0e11;
    --font-family: "Poppins", sans-serif;
    --a-font: 300 1.25rem/100% var(--font-family);
    --h1-desk: 800 3.75rem/100% var(--font-family);
    --h1-mobile: 700 2rem/100% var(--font-family);
    --title-sm-desk: 800 2.5rem/100% var(--font-family);
    --title-sm-mobile: 700 1.25rem/100% var(--font-family);
    --a-mobile: 300 1rem/100% var(--font-family);
    --h2-desk: 800 2.18rem/100% var(--font-family);
    --h2-mobile: 800 1.15rem/100% var(--font-family);
}

h1 {
    font: var(--h1-desk);
}

h2 {
    font: var(--h2-desk);
}

body{
    background-color: var(--background-color);
    color: #ededed;
    font-family: "Poppins", sans-serif;
}

a {
    color: inherit;
}

.hidden{
    opacity: 0;
    filter: blur(15px);
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0) !important;
}

@media (width < 45.56rem){
    h1 {
        font: var(--h1-mobile);
    }

    h2 {
        font: var(--h2-mobile);
    }
}