.project {
    width: 100%;
    padding: 0 10%;
    margin-bottom: 50px;

    & h2 {
        font-size: 32px;
        text-align: center;
        padding: 50px;
        text-transform: uppercase;
        color: #00abf0;
    }

    & .container-card{
        display: grid;
        gap: 20px;
        /* border: 2px solid red; */
        grid-template-columns: 1fr 1fr;

        & .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            /* border: 1px solid yellow; */
            gap: 15px;

            & img{
                width: 90%;
                border-radius: 10px;
            }

            & h3 {
                font-size: 25px;
            }

            & p {
                max-width: 90%;
            }

            & .tools{
                display: flex;
                justify-content: space-between;
                width: 90%;
                padding: 0 10px;
                align-items: center;
                /* border: 1px solid yellow; */
                padding: 10px;

                & a {
                    position: relative;
                    display: inline-flex;
                    font-size: 19px;
                    color: #031522;
                    width: 200px;
                    height: 120%;
                    background: #00abf0;
                    border: 2px solid #031522;
                    border-radius: 8px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    justify-content: center;
                    align-items: center;
                    z-index: 1;
                    overflow: hidden;
                    transition: 0.5s;
                    text-transform: uppercase;
                }

                & i {
                    position: relative;
                    margin-right: 10px;
                    display: inline-flex;
                    width: 50px;
                    height: 50px;
                    background: transparent;
                    border: 2px solid #00abf0;
                    border-radius: 50%;
                    font-size: 25px;
                    align-items: center;
                    justify-content: center;
                    z-index: 2;
                    /* overflow: hidden; */
                    transition: 0.5s;
                    color: #00abf0;
                }
            }
        }
    }
}

.tools a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #031522;
    height: 100%;
    width: 0%;
    transition: 0.5s ease;
    z-index: -1;
}


.tools a:hover{
    color: #00abf0;

}
.tools a:hover::before{
    width: 100%;
}

